/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */






  body {
    a {
      color: #459cf6;
    }
  }


.nav-tabs .nav-link.active {
  position: relative;
  color: #1a69bb;
}

.main-menu .navbar-header .navbar-brand .brand-text {
  color: #1a69bb;
}


.text-primary {
  color: #1a69bb !important;
}

html body .content.app-content .rdt_TableRow {
  font-size: 11px;
}
[dir] .btn-primary {
  border-color: #2595d9 !important;
  background-color: #147ebf !important;
}

.avatar.bg-light-primary {
  color: #055b99 !important;
}


/* customizable snowflake styling */
.snowflake {
  color: #ffffff2b;
  font-size: 2em;
  font-family: Arial;
  display: block;
  text-shadow: 0 0 1px #fff0;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:absolute;top:-100%;z-index:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}

.chiller-number
{
  font-size: 1.8rem;
  font-weight: 500;
  color: #4a4a4a;
}


[dir=ltr] .sales-card.bg-analytics {
  background: linear-gradient(
                  118deg
          ,#006eb5,rgba(0,110,181,.7));
}

.success {
  color: #28c76f!important;
}

.avatar.avatar-xl .avatar-content, .avatar.avatar-xl img {
  width: 50px;
  height: 50px;
}

.avatar {
  white-space: nowrap;
  position: relative;
  color: #fff;
  display: inline-flex;
  font-size: .75rem!important;
  vertical-align: middle;
}

.avatar.avatar-xl .avatar-content svg {
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
}


.refri-off-icon-bg
{
  background-color: #ffffff54 !important;
}

.refri-off-icon
{
  color: #c72828 !important;
}

.hilang{display: none}


.f-s-22
{
  font-size: 22px!important;
}








.loader:before {
  animation: water 12s linear infinite;
  opacity: 0.8;
}

.loader:before,
.loader:after {
  background-color: #ffffff;
  border-radius: 40%;
  content: '';
  height: 197%;
  left: 39%;
  position: absolute;
  top: -200%;
  width: 300px;



}

.loader {
  background-color: #2196f3;
  box-shadow: 0 0 50px rgba(0, 110, 181, 0.7) inset;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.loader:after {
  animation: water2 7s linear infinite;
  opacity: 0.9;
}

@keyframes water {
  to {
    transform: rotateZ(1turn);
  }
}

@keyframes water2 {
  from {
    transform: rotateZ(360deg);
  }

  to {
    transform: rotateZ(0);
  }
}



[dir=ltr] .main-menu.menu-light .navigation > li.active > a {
  background: linear-gradient(
                  118deg
          ,#006eb5,rgba(0,110,181,.7));
}


element.style {
}
.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navigation > li > a {
  text-overflow: inherit;
}
[dir=ltr] .main-menu.menu-dark .navigation > li.active > a {
  background: linear-gradient(
                  118deg
          ,#006eb5,rgba(0,110,181,.7));
}



.vh-40 {
  height: 40vh !important;
}


// =========================================================================================
//   File Name: app loader.scss
//   Description: Custom vuexy app loader component.
//   ----------------------------------------------------------------------------------------
//   Item Name: Vuexy React Admin Template
//   Version: 1.0
//   Author: PIXINVENT
//   Author URL: http://www.themeforest.net/user/pixinvent
// ==========================================================================================

// Component: app loader
// ========================================================================
.loading2 {
  animation-name: spin;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: spin;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: ease;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: spin;
  -o-animation-duration: 1s;
  -o-animation-timing-function: ease;
  -o-animation-iteration-count: infinite;
  -ms-animation-name: spin;
  -ms-animation-duration: 1s;
  -ms-animation-timing-function: ease;
  -ms-animation-iteration-count: infinite;
}

@-webkit-keyframes spin {
  0%, 100% { transform: rotate(-30deg); }
  20% {transform:scale(.95);}
  50% { transform: rotate(30deg); }
  80% {transform:scale(.95);}
}

.loading {
  position: absolute;
  left: calc(50% - 35px);
  top: 50%;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid transparent;

  &.component-loader {
    margin-top: -60px;
  }

  .effect-1,
  .effect-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-left: 3px solid #006eb5;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .effect-1 {
    animation: rotate 1s ease infinite;
  }
  .effect-2 {
    animation: rotateOpacity 1s ease infinite 0.1s;
  }
  .effect-3 {
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-left: 3px solid #006eb5;
    -webkit-animation: rotateOpacity 1s ease infinite 0.2s;
    animation: rotateOpacity 1s ease infinite 0.2s;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }





  .loading .effects {
    transition: all 0.3s ease;
  }
}
.fallback-logo {
  position: absolute;
  left: calc(50% - 45px);
  top: 40%;
}

@keyframes rotate {
  0%, 100% { transform: rotate(-30deg); }
  20% {transform:scale(.95);}
  50% { transform: rotate(30deg); }
  80% {transform:scale(.95);}
}


[dir] .dark-layout .content.app-content .rdt_TableHeader {
  font-size: 15px;
  background: #2f364b;
  color: white;
}

[dir] .dark-layout .rdt_TableHeadRow
{
  background: #2f364b;
}


[dir] .dark-layout .rdt_TableCol
{
  background: #2f364b;
  color: white;
}

[dir] .dark-layout .rdt_TableCell
{
  background: #283046;
  color: white;
}

[dir] .dark-layout .font-title-left {
  background: #283046;
  color: white;
}


[dir] .dark-layout .font-mati {
  background: #515c78;
  border-radius: 3px;
  border-radius: 3px;
  color: rgba(34, 41, 47, 0.0);
}

[dir=ltr] .main-menu.menu-light .navigation > li ul .active {
  background: linear-gradient(
                  118deg
          , #006eb5, rgba(0, 110, 181, 0.7));
}

.myClassname::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.myClassname
{
  padding: 10px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.custom-scroll
{
  height: 100vh; /* percent relative to viewport height */
  float: left;
  overflow: auto;

}

.row-levels
 {
   margin-right: 0;
   margin-left: 0;
 }

.row-levels-padding
{
  padding-right: 1px;
  padding-left: 1px;
}

.bg-levels
{
  background: #f8f8f8;
}

.item-0
{
  opacity: 0;
}

.hilang
{
  display: none;
}

.mw-8
{
  max-width: 8%;
}


.font-alert
{
  background: #fff;
  color: #fff;
  border-radius: 3px;
  animation: cpos-bahaya 0.6s infinite;

}

.ib
{
  display:inline-block;
}

.legendx
{
  margin-left: 2.5px;
}

.pr-pl-0

{

  padding-right: 0;
  padding-left: 0;
}

.font-matix {
  color: rgba(34, 41, 47, 0.0) !important;
  border: 1px solid #d1d0d0;
}

.green
{
  background: #38cb7a!important;
}

.red
{
background: #ea6665!important;
}

.grey
{
  background: #e2e2e2!important;

}

.white
{
  background: white!important;
}

.mt-min-15
{
  margin-top: -15px;
}


.mt-15
{
  margin-top: 15px;
}

[dir] .dark-layout .font-matix
{
  color: rgba(34, 41, 47, 0.0) !important;
  border: 1px solid white;
}

.bg-levels-white {
  background: #f8f8f800;
}

[dir] .dark-layout  .bg-levels-white {
  background: #161d31;
}

[dir] .dark-layout .white {
  background: #283046 !important;
}

.alert-shadow-bg
{
  box-shadow: 0 4px 24px 0 rgba(255, 4, 4, .5);
  animation: alert-shadow 0.7s infinite;
}

@keyframes alert-shadow{

  0%	        {
    box-shadow: 0 4px 24px 0 rgba(34, 41, 47, .1);

  }

  100%	        {
    box-shadow: 0 4px 24px 0 rgba(255, 4, 4, .5);
  }

}

.header-baru-1
{
  background: #f6f6f6!important;
  color: #848484!important;
  border-radius: 0px 0px 10px 10px!important;
  padding: 2.5px!important;
  text-align: center;
  margin-bottom: 0rem!important;
  margin-left: 3rem;
  margin-right: 3rem;
  font-weight: 500!important;
  font-size: 1.02rem!important;
}